<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mazhj.siuu</string>
	<key>connections</key>
	<dict>
		<key>04C0DEEF-9CB6-4861-A021-FC26B7A5CD41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D79054D-B9C2-4A44-AB08-A9DCCD78A056</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D25C575-72A3-41F8-BF83-1606B0BE6F97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE4D9130-DE39-4888-ADD0-1BA81BA0B2A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C851E2B-010B-4C83-9B83-7A0F2589AC50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE4D9130-DE39-4888-ADD0-1BA81BA0B2A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2788BBE5-00AF-4703-9A82-4F7CBC866602</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04C0DEEF-9CB6-4861-A021-FC26B7A5CD41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44622D70-8EBC-44D7-82A2-4BA0EE6C4F36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE4D9130-DE39-4888-ADD0-1BA81BA0B2A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B96573A-36E2-44BA-B15C-7D3A7D10FA29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE4D9130-DE39-4888-ADD0-1BA81BA0B2A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B062033-5B54-49C7-B177-F6C286C436ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE4D9130-DE39-4888-ADD0-1BA81BA0B2A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F2816C6-1E92-4271-8AB9-B44E004D8D2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04C0DEEF-9CB6-4861-A021-FC26B7A5CD41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>865DCD68-B669-4D00-B15F-F7BF2614680A</key>
		<array/>
		<key>8D79054D-B9C2-4A44-AB08-A9DCCD78A056</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C69BA665-E860-4E4E-B730-996A3B90A969</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E77494A-A6F0-43CE-8E1B-A6C35355B5A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE4D9130-DE39-4888-ADD0-1BA81BA0B2A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C69BA665-E860-4E4E-B730-996A3B90A969</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>865DCD68-B669-4D00-B15F-F7BF2614680A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>281FE2C0-CDC6-4174-B7BC-B7390A739928</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>37627622-1F33-4CDB-9022-628CCCC1F71E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9D6A10F-1054-460B-BE5B-216D8DF7801A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE4D9130-DE39-4888-ADD0-1BA81BA0B2A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB9A89F5-2E6C-45FC-B808-02B28379289A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2788BBE5-00AF-4703-9A82-4F7CBC866602</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9CD9E70-B80B-4C5F-B5FB-0FF67E299955</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE4D9130-DE39-4888-ADD0-1BA81BA0B2A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE4D9130-DE39-4888-ADD0-1BA81BA0B2A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51447562-648C-4A20-8EA7-174BEEB6EE5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>44926CB1-B752-4AA4-B821-65C705DC6D83</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CB9A89F5-2E6C-45FC-B808-02B28379289A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E207B70C-3F14-4421-A80D-4C0B730CC3F2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AC71F781-5231-4843-9D4A-DFABE96C6724</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AC9A9910-30BD-4CC3-9CA9-6131266B20EA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AC71F781-5231-4843-9D4A-DFABE96C6724</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C64494FE-BAD0-42A5-BC3C-9338A766F105</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6F2816C6-1E92-4271-8AB9-B44E004D8D2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BD219B12-80B0-47F3-8674-6ADF4541DDBB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mazhj</string>
	<key>description</key>
	<string>proxy app cli</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>siuu</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>start</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8E77494A-A6F0-43CE-8E1B-A6C35355B5A6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>stop</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1C851E2B-010B-4C83-9B83-7A0F2589AC50</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PYTHONPATH='./vendor/'
python3 proxy.py --keyword "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>proxy operations in siuu</string>
				<key>title</key>
				<string>Proxy commands</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2788BBE5-00AF-4703-9A82-4F7CBC866602</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PYTHONPATH='./vendor/'
python3 proxy.py set "$split2"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>865DCD68-B669-4D00-B15F-F7BF2614680A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PYTHONPATH='./vendor/'
python3 system.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>51447562-648C-4A20-8EA7-174BEEB6EE5F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>restart</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C9D6A10F-1054-460B-BE5B-216D8DF7801A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>prx</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>44622D70-8EBC-44D7-82A2-4BA0EE6C4F36</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>start</string>
						<key>outputlabel</key>
						<string>start</string>
						<key>uid</key>
						<string>51A9B7FB-2487-4C7C-9CCD-B022D999BCE4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>stop</string>
						<key>outputlabel</key>
						<string>stop</string>
						<key>uid</key>
						<string>8DA49504-F732-419A-A5CF-CD01CA6D1851</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>restart</string>
						<key>outputlabel</key>
						<string>restart</string>
						<key>uid</key>
						<string>44926CB1-B752-4AA4-B821-65C705DC6D83</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>prx</string>
						<key>outputlabel</key>
						<string>proxy</string>
						<key>uid</key>
						<string>E207B70C-3F14-4421-A80D-4C0B730CC3F2</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>on</string>
						<key>outputlabel</key>
						<string>turn on</string>
						<key>uid</key>
						<string>AC9A9910-30BD-4CC3-9CA9-6131266B20EA</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>off</string>
						<key>outputlabel</key>
						<string>trun off</string>
						<key>uid</key>
						<string>C64494FE-BAD0-42A5-BC3C-9338A766F105</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>test</string>
						<key>outputlabel</key>
						<string>test</string>
						<key>uid</key>
						<string>BD219B12-80B0-47F3-8674-6ADF4541DDBB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>EE4D9130-DE39-4888-ADD0-1BA81BA0B2A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CB9A89F5-2E6C-45FC-B808-02B28379289A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>on</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>20</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4B96573A-36E2-44BA-B15C-7D3A7D10FA29</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:split1}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>37627622-1F33-4CDB-9022-628CCCC1F71E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>set</string>
						<key>outputlabel</key>
						<string>set-default</string>
						<key>uid</key>
						<string>281FE2C0-CDC6-4174-B7BC-B7390A739928</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C69BA665-E860-4E4E-B730-996A3B90A969</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>8D79054D-B9C2-4A44-AB08-A9DCCD78A056</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PYTHONPATH='./vendor/'
python3 proxy.py turn $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AC71F781-5231-4843-9D4A-DFABE96C6724</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>off</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>21</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>4</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5B062033-5B54-49C7-B177-F6C286C436ED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PYTHONPATH='./vendor/'
python3 proxy.py --name "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>04C0DEEF-9CB6-4861-A021-FC26B7A5CD41</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>test</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>23</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>5</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D9CD9E70-B80B-4C5F-B5FB-0FF67E299955</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>under testing wait please</string>
				<key>script</key>
				<string>export PYTHONPATH='./vendor/'
python3 proxy.py test</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>testing proxy latency in siuu</string>
				<key>title</key>
				<string>Test</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6F2816C6-1E92-4271-8AB9-B44E004D8D2E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"d987a55f511fb715e2fcf66a4eedde8c1b2a1e09.png","title":"Start The Siuu Daemon","arg":"start","subtitle":"⌘ ⇧ 1"},{"imagefile":"d987a55f511fb715e2fcf66a4eedde8c1b2a1e09.png","title":"Stop The Siuu Daemon","arg":"stop","subtitle":"⌘ ⇧ 2"},{"imagefile":"d987a55f511fb715e2fcf66a4eedde8c1b2a1e09.png","title":"Restart The Siuu Daemon","arg":"restart","subtitle":"⌘ ⌥ 1"},{"imagefile":"d987a55f511fb715e2fcf66a4eedde8c1b2a1e09.png","title":"List All Proxies","arg":"prx","subtitle":"⌘ ⌥ 2"},{"imagefile":"d987a55f511fb715e2fcf66a4eedde8c1b2a1e09.png","title":"Turn On Proxy Setting","arg":"on","subtitle":"⌘ ⌥ 3"},{"imagefile":"d987a55f511fb715e2fcf66a4eedde8c1b2a1e09.png","title":"Turn Off Proxy Setting","arg":"off","subtitle":"⌘ ⌥ 4"},{"imagefile":"d987a55f511fb715e2fcf66a4eedde8c1b2a1e09.png","title":"Test Proxies' Delay","arg":"test","subtitle":"⌘ ⌥ 5"}]</string>
				<key>keyword</key>
				<string>siuu</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>siuuuuuuu</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>0D25C575-72A3-41F8-BF83-1606B0BE6F97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04C0DEEF-9CB6-4861-A021-FC26B7A5CD41</key>
		<dict>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>0D25C575-72A3-41F8-BF83-1606B0BE6F97</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>1C851E2B-010B-4C83-9B83-7A0F2589AC50</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>2788BBE5-00AF-4703-9A82-4F7CBC866602</key>
		<dict>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>37627622-1F33-4CDB-9022-628CCCC1F71E</key>
		<dict>
			<key>xpos</key>
			<real>1300</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>44622D70-8EBC-44D7-82A2-4BA0EE6C4F36</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>4B96573A-36E2-44BA-B15C-7D3A7D10FA29</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>51447562-648C-4A20-8EA7-174BEEB6EE5F</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>5B062033-5B54-49C7-B177-F6C286C436ED</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>6F2816C6-1E92-4271-8AB9-B44E004D8D2E</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>865DCD68-B669-4D00-B15F-F7BF2614680A</key>
		<dict>
			<key>xpos</key>
			<real>1290</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>8D79054D-B9C2-4A44-AB08-A9DCCD78A056</key>
		<dict>
			<key>xpos</key>
			<real>1085</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>8E77494A-A6F0-43CE-8E1B-A6C35355B5A6</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>AC71F781-5231-4843-9D4A-DFABE96C6724</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>C69BA665-E860-4E4E-B730-996A3B90A969</key>
		<dict>
			<key>xpos</key>
			<real>1165</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>C9D6A10F-1054-460B-BE5B-216D8DF7801A</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>CB9A89F5-2E6C-45FC-B808-02B28379289A</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>D9CD9E70-B80B-4C5F-B5FB-0FF67E299955</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>EE4D9130-DE39-4888-ADD0-1BA81BA0B2A9</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
